@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";




* {
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

.background {
    /* background: linear-gradient(to right, #739cd2, #a7e0ac, #fde89c, #efad99); */
    background: linear-gradient(90deg, #3b82f6 0%, #ec4899 50%, #f97316 100%);

}

.app {
    /* font-family: Montserrat; */
    font-family: Nunito;
    width: 94%;
    margin: auto;
}

::-webkit-scrollbar {
    display: none;
}

option {
    background-color: #6185be;
}

hr {
    width: 85%;
    border: 0.1px solid #808080;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        dopacity: 1;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

.fade-animation {
    animation: fadein 1.5s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}